@{
    ViewData["Title"] = "Kontakt";
}

<h3>Moje dane kontaktowe:</h3>

<address>
    <a href="https://twitter.com/bizon7nt"><strong>Twitter</strong></a><br/>
    <a href="https://www.linkedin.com/in/arkadiusz-gądek-788368a3/"><strong>LinkedIn</strong></a>
</address>
